:root {
    --theme-primary: #e93b38;
    --theme-primary-hover: #f5403d;
    --theme-white: #ffffff;
    --theme-light: #e4e4e4;
    --theme-light-hover: #ccc;
    --theme-dark: #222;
    --theme-black: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-primary-hover: #f37d7b;
        --theme-white: #111;
        --theme-light: #222222;
        --theme-light-hover: #1d1d1d;
        --theme-dark: #ddd;
        --theme-black: #eee;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;